django-crispy-forms
django
bleach
django-allauth
postmarkup
pygments
django-haystack==1.1.0
django-mailer
django-messages
whoosh
django-registration==0.7
django-blog-zinnia
-e git+git@github.com:jonsimington/bbcode.git#egg=bbcode
-e git+https://github.com/jonsimington/pybbm.git#egg=pybb
-e git+git@github.com:jonsimington/django-contrib-comments.git#egg=django-comments
pillow
django-bootstrap-form
psycopg2
markdown
