django-crispy-forms
django
bleach
django-allauth
postmarkup
pygments
django-haystack==1.1.0
django-mailer
whoosh
django-registration==0.7
django-blog-zinnia
-e git+https://github.com/jonsimington/bbcode.git#egg=bbcode
-e git+https://github.com/jonsimington/pybbm.git#egg=pybb
-e git+https://github.com/jonsimington/django-contrib-comments.git#egg=django-comments
django-messages
pillow
django-bootstrap-form
django-bootstrap3
psycopg2
markdown

