<div class="row">
    <h1 class="text-center"> Latest &lt;Clockwork&gt; News</h1>
</div>

<div class="col-lg-9">
  {% if user.is_staff %}
    <h4 class="pull-right">
      <span class="label label-default">
	<a href="/admin/zinnia/entry/add/">
	  <span>
	    <span class="fa fa-plus"></span>  Add Entry
	  </span>
	</a>
      </span>
    </h4>
  {% endif %}
  {% for entry in entries %}
    <div class="well">
      <h2>{{ entry.title }}</h2>
      <h6>Published by <a href="profiles/{{entry.authors.first}}/">{{ entry.authors.first }}</a> on {{ entry.creation_date }}</h6>
      <hr id="blog-hr">
      <h4>{{ entry.content|safe|linebreaks }}</h4>
      
      {% if entry.image %}
        <img src="{{ entry.image.url }}" />
      {% endif %}
    
      {% if user.is_staff %}
	<br><br>
	<h4>
	  <span class="label label-default">
	    <a href="/admin/zinnia/entry/{{ entry.id }}/">
	      <span>
		<span class="fa fa-edit"></span>  Edit Entry
	      </span>
	    </a>
	  </span>
	</h4>
      {% endif %}
    </div>
    {% if forloop.last and entries.count >= 5 %}
      <a href="{% url 'blog' %}">
	<h1 class="text-center">View all Entries</h1>
      </a>
    {% endif %}
  {% empty %}
    <h2>No entries, yet.</h2>
  {% endfor %}
</div>
