{% if not user.is_authenticated %}
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <div class="well text-center">
    <form action="{% url 'account_login' %}" method="POST">
      {% csrf_token %}
      <div class="control-group">
        <h4>Login</h4>
        <div class="controls">
	  <input type="text" name="login" value="" id="username"
	         placeholder="Username" style="width:100%">
        </div>
      </div>
      <br>
      <div class="control-group">
        <div class="controls">
	  <input type="password" name="password" id="password" value=""
	         placeholder="Password" style="width:100%">
        </div>
      </div>

      <br>

      <div class="btn-group btn-group-justified">
        <div class="btn-group">
	  <input type="submit" class="btn btn-primary btn-sm" value="Sign In"/>
        </div>
      </div>

      <br>
      <br>

      <div class="btn-group-vertical">
        <a href="{% url 'account_reset_password' %}" class="btn btn-info btn-sm">Forgot Password?</a>
        <a href="{% url 'account_signup' %}" class="btn btn-primary btn-sm">
	  Sign Up for an Account
        </a>
      </div>
    </form>
  </div>
{% endif %}

<!-- Recruitment -->
<div id="recruitment" class="well">
  <h3 class="text-center">Recruitment</h3>
  <h6>Currently recruiting any exceptional DPS and Healers! Particularly Restoration Druids and Restoration Shamans!</h6>
  <br><br>

  <table class="table">
    <tbody>
      <tr>
	<td class="deathknight deathknights-t">
	  <h5>Death Knight</h5>
	  <span class="pull-right">
	    <div class="dk-blood"></div>
	  </span>
	</td>
      </tr>
      <tr>
	<td class="druid druids-t">
	  <h5>Druid</h5>
	  <span class="pull-right">
	    <!-- spec icons -->
	  </span>
	</td>
      </tr>
      <tr>
	<td class="hunter hunters-t">
	  <h5>Hunter</h5>
	  <span class="pull-right">
	    <!-- spec icons -->
	  </span>
	</td>
      </tr>
      <tr>
	<td class="mage mages-t">
	  <h5>Mage</h5>
	  <span class="pull-right">
	    <!-- spec icons -->
	  </span>
	</td>
      </tr>
      <tr>
	<td class="monk monks-t">
	  <h5>Monk</h5>
	  <span class="pull-right">
	    <!-- spec icons -->
	  </span>
	</td>
      </tr>
      <tr>
	<td class="paladin paladins-t">
	  <h5>Paladin</h5>
	  <span class="pull-right">
	    <!-- spec icons -->
	  </span>
	</td>
      </tr>
      <tr>
	<td class="priest priests-t">
	  <h5>Priest</h5>
	  <span class="pull-right">
	    <!-- spec icons -->
	  </span>
	</td>
      </tr>
      <tr>
	<td class="rogue rogues-t">
	  <h5>Rogue</h5>
	  <span class="pull-right">
	    <!-- spec icons -->
	  </span>
	</td>
      </tr>
      <tr>
	<td class="shaman shamans-t">
	  <h5>Shaman</h5>
	  <span class="pull-right">
	    <!-- spec icons -->
	  </span>
	</td>
      </tr>
      <tr>
	<td class="warlock warlocks-t">
	  <h5>Warlock</h5>
	  <span class="pull-right">
	    <!-- spec icons -->
	  </span>
	</td>
      </tr>
      <tr>
	<td class="warrior warriors-t">
	  <h5>Warrior</h5>
	  <span class="pull-right">
	    <!-- spec icons -->
	  </span>
	</td>
      </tr>
    </tbody>
  </table>
</div>
