{% if not user.is_authenticated %}
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <div class="well text-center">
    <form action="{% url 'account_login' %}" method="POST">
      {% csrf_token %}
      <div class="control-group">
        <h4>Login</h4>
        <div class="controls">
	  <input type="text" name="login" value="" id="username"
	         placeholder="Username" style="width:100%">
        </div>
      </div>
      <br>
      <div class="control-group">
        <div class="controls">
	  <input type="password" name="password" id="password" value=""
	         placeholder="Password" style="width:100%">
        </div>
      </div>

      <br>

      <div class="btn-group btn-group-justified">
        <div class="btn-group">
	  <input type="submit" class="btn btn-primary btn-sm" value="Sign In"/>
        </div>
      </div>

      <br>
      <br>

      <div class="btn-group-vertical">
        <a href="{% url 'account_reset_password' %}" class="btn btn-info btn-sm">Forgot Password?</a>
        <a href="{% url 'account_signup' %}" class="btn btn-primary btn-sm">
	  Sign Up for an Account
        </a>
      </div>
    </form>
  </div>
{% endif %}

<!-- Recruitment -->
<div id="recruitment" class="well">
  <h3 class="text-center">Recruitment</h3>
  <h6>Currently recruiting any exceptional DPS and Healers. Particularly Elemental Shaman, Holy Paladin, Mistweaver Monk, Windwalker Monk, Restoration Druid!</h6>
  <br><br>

  <table class="table">
    <tbody>
      <tr>
	<td class="deathknight">
	  <h5>Death Knight <span class="pull-right recruitment-status-low">LOW</span></h5>
	</td>
      </tr>
      <tr>
	<td class="druid">
	  <h5>Druid <span class="pull-right recruitment-status-medium">MEDIUM</span></h5>
	</td>
      </tr>
      <tr>
	<td class="hunter">
	  <h5>Hunter <span class="pull-right recruitment-status-low">LOW</span></h5>
	</td>
      </tr>
      <tr>
	<td class="mage">
	  <h5>Mage <span class="pull-right recruitment-status-low">LOW</span></h5>
	</td>
      </tr>
      <tr>
	<td class="monk">
	  <h5>Monk <span class="pull-right recruitment-status-medium">MEDIUM</span></h5>
	</td>
      </tr>
      <tr>
	<td class="paladin">
	  <h5>Paladin <span class="pull-right recruitment-status-medium">MEDIUM</span></h5>
	</td>
      </tr>
      <tr>
	<td class="priest">
	  <h5>Priest <span class="pull-right recruitment-status-low">LOW</span></h5>
	</td>
      </tr>
      <tr>
	<td class="rogue">
	  <h5>Rogue <span class="pull-right recruitment-status-low">LOW</span></h5>
	</td>
      </tr>
      <tr>
	<td class="shaman">
	  <h5>Shaman <span class="pull-right recruitment-status-medium">MEDIUM</span></h5>
	</td>
      </tr>
      <tr>
	<td class="warlock">
	  <h5>Warlock <span class="pull-right recruitment-status-low">LOW</span></h5>
	</td>
      </tr>
      <tr>
	<td class="warrior">
	  <h5>Warrior <span class="pull-right recruitment-status-high">HIGH</span></h5>
	</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Streams -->
