{% extends "base.html" %}

{% block content %}
  <h1 class="text-center">About &lt;Clockwork&gt; US-Sargeras</h1>
  <div class="well">
    <h2>Summary</h2>
    <hr>
    <h4>&lt;Clockwork&gt; is a progression-oriented raiding guild on US-Sargeras. We started as a group of casual raiders in Cataclysm, but some of us have been playing together since TBC. &lt;Clockwork&gt; strives to efficiently raid the newest content on a light schedule of only 8 hours a week. We have a laid-back atmosphere in raiding, but that doesn't mean we don't take progression seriously. We pride ourselves on learning bosses quickly and killing them in a reasonable amount of pulls. We are always respectful of each other and have zero tolerance for drama. We all play for fun and are always seeking new players with a similar mindset.</h4>
  </div>
  <div class="well">
    <h2>Schedule</h2>
    <hr>
    <h4>We raid two nights per week, four hours a night as part of our mandatory raiding schedule. We expect very good attendance from our raiders (90%+) and at least some notice if you will be absent. We also do normal or alt runs on other days of the week when people are free for fun.
      <br />
      <br />
      Thursday/Sunday 7:30-11:30 PM CST</h4>
  </div>
  <div class="well">
    <h2>Interested?  Here's what we are looking for in an applicant:</h2>
    <hr>
    <ul>
      <h4><li>650+ Item Level</li>
	<li>Knowledge of your class</li>
	<li>Fast learner</li>
	<li>Mumble and a working microphone</li>
	<li>Similar experience and gear on an alt is a plus</li>
	<li>Willing to sit out on fights occasionally</li></h4>
    </ul>
  </div>

  <h3> To apply, <a href="{% url 'account_signup' %}">sign up for an account</a> and fill out an application</h3>
  <br />  
{% endblock %}
