{% extends "base.html" %}

{% block title %}
  {% if user.is_authenticated %}
    &lt;Clockwork&gt; News
  {% else %}
    &lt;Clockwork&gt; US - Sargeras
  {% endif %}
{% endblock %}

{% block content %}
  {% if not user.profile.has_submitted_app and user.is_authenticated %}
    <div class="alert alert-warning text-center" role="alert">
      <h5>It appears you haven't submitted an application yet.  Do that <strong><a href="/application/submit/">here</a></strong>!</h5>
    </div>
  {% endif %}

  {% include "home/_blog.html" %}

  {% if not user.is_authenticated %}
    <div class="col-lg-3 pull-right">
      {% include "home/_home_sidebar.html" %}
    </div>
  {% endif %}  
</div>
{% endblock content %}
