{% extends "base.html" %}

{% block content %}
  <link href="{{ STATIC_URL }}css/media.css" rel="stylesheet">

  <h1 class="text-center">&lt;Clockwork&gt; Media</h1>

  <div class="col-md-4">
    <div class="well">
      <ul class="nav nav-tabs nav-stacked">
	<!-- Blackrock Foundry -->
	<li>
	  <a>Blackrock Foundry<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li onclick="loadVideo('Heroic Gruul Kill Video:', 'K2_qSPU0FEM', 'youtube')">
	      <a href="#">Gruul</a>
	    </li>
	    <li onclick="loadVideo('Heroic Oregorger Kill Video:', 'LAyaetuIN2o', 'youtube')">
	      <a href="#">Oregorger</a>
	    </li>
	    <li onclick="loadVideo('Heroic Blast Furnace Kill Video:', 'vibc6COEbPY', 'youtube')">
	      <a href="#">Blast Furnace</a>
	    </li>
	    <li onclick="loadVideo('Heroic Beastlord Darmac Kill Video:', 'lcgyXuQa8ds', 'youtube')">
	      <a href="#">Beastlord Darmac</a>
	    </li>
	    <li onclick="loadVideo('Heroic Operator Thogar Kill Video:', 'HbP4f8vZwwE', 'youtube')">
	      <a href="#">Operator Thogar</a>
	    </li>
	    <li onclick="loadVideo('Heroic Iron Maidens Kill Video:', 'zqoy-cT9Vng', 'youtube')">
	      <a href="#">Iron Maidens</a>
	    </li>
	    <li onclick="loadVideo('Heroic Hans'gar and Franzok Kill Video:', 'VTwkTneShdI', 'youtube')">
	      <a href="#">Hans'gar and Franzok</a>
	    </li>
	    <li onclick="loadVideo('Heroic Flamebender Ka'graz Kill Video:', 'f5cNFQSJ-0w', 'youtube')">
	      <a href="#">Flamebender Ka'graz</a>
	    </li>
	    <li onclick="loadVideo('Heroic Kromog Kill Video:', '4oQEjdyNNh0', 'youtube')">
	      <a href="#">Kromog</a>
	    </li>
	    <li onclick="loadVideo('Heroic Blackhand Kill Video:', 'DpkEvBe57uc', 'youtube')">
	      <a href="#">Blackhand</a>
	    </li>
	  </ul>
	</li>
	<!-- Highmaul -->
	<li>
	  <a>Highmaul<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li onclick="loadVideo('Mythic Tectus Kill Video:', 'jJGJmOUiTe4', 'youtube')">
	      <a href="#">Mythic Tectus</a>
	    </li>
	    <li onclick="loadVideo('Mythic Butcher Kill Video', 'k1_Nno35weI', 'youtube')">
	      <a href="#">Mythic Butcher</a>
	    </li>
	    <li onclick="loadVideo('Mythic Twin Ogron Kill Video:', 'bPwKXlubwcE', 'youtube')">
	      <a href="#">Mythic Twin Ogron</a>
	    </li>
	  </ul>
	</li>
	<!-- Siege of Orgrimmar -->
	<li>
	  <a>Siege of Orgrimmar<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li onclick="loadVideo('Heroic Garrosh Hellscream Kill Video:', 'jMLFIuM627s', 'youtube')">
	      <a href="#">Heroic Garrosh Hellscream</a>
	    </li>
	    <li onclick="loadVideo('Heroic Paragons of the Klaxxi Kill Video:', 'm20YyrGpT9w', 'youtube')">
	      <a href="#">Heroic Paragons of the Klaxxi</a>
	    </li>
	  </ul>
	</li>
	<!-- Challenge Modes -->
	<li>
	  <a>Realm Best CMs<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li onclick="loadVideo('Realm Best Gate of the Setting Sun Video:', 'CQ3d8OQH4Fo', 'youtube')">
	      <a href="#">Gate of the Setting Sun</a>
	    </li>
	    <li onclick="loadVideo('Realm Best Siege of Niuzao Temple Video:', 'fqHJd6HIrU4', 'youtube')">
	      <a href="#">Siege of Niuzao Temple</a>
	    </li>
	  </ul>
	</li>
	<!-- Twitch -->
	<li>
	  <a>Live Streams<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li onclick="loadVideo('Adgetty's Twitch Stream:', 'adgetty', 'twitch')">
	      <a href="#">Adgetty (Warlock)</a>
	    </li>
	    <li onclick="loadVideo('Apparati's Twitch Stream:', 'apparati', 'twitch')">
	      <a href="#">Apparati (DPS Warrior)</a>
	    </li>
	    <li onclick="loadVideo('Awss's Twitch Stream:', 'naughtycrusher', 'twitch')">
	      <a href="#">Awss (Ret. Paladin)</a>
	    </li>
	    <li onclick="loadVideo('Bottizelle's Twitch Stream:', 'bottizelle', 'twitch')">
	      <a href="#">Bottizelle (Resto. Druid)</a>
	    </li>
	    <li onclick="loadVideo('Qoof's Twitch Stream:', 'qoofs', 'twitch')">
	      <a href="#">Qoof (Mage)</a>
	    </li>
	  </ul>
	</li>
	    
	<!-- Funsies -->
	<li>
	  <a>Et Cetera<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li onclick="loadVideo('yatt')">
	      <a href="#">Yuckster and the Tryhards</a>
	    </li>
	  </ul>
	</li>
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <div id="media-content">
      <h3>Click on a button to the left to display media content.</h3>
    </div>
  </div>

  <script src="{{ STATIC_URL }}js/media.js"></script>
{% endblock %}
