{% extends "base.html" %}

{% block title %}
  <Clockwork> Media
{% endblock %}

{% block content %}
  <link href="{{ STATIC_URL }}css/media.css" rel="stylesheet">

  <h1 class="text-center">&lt;Clockwork&gt; Media</h1>

  <div class="col-md-4">
    <div class="well">
      <ul class="nav nav-tabs nav-stacked">
	<!-- Blackrock Foundry -->
	<li>
	  <a>Blackrock Foundry<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li class="videoElement" data-title='["Mythic Beastlord Darmac Kill Video:"]' data-id='["_Is6toc17fI"]' data-type="youtube">
	      <a href="#">M Beastlord Darmac</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Gruul Kill Video:"]' data-id='["K2_qSPU0FEM"]' data-type="youtube">
	      <a href="#">Gruul</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Oregorger Kill Video:"]' data-id='["LAyaetuIN2o"]' data-type="youtube">
	      <a href="#">Oregorger</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Blast Furnace Kill Video:"]' data-id='["vibc6COEbPY"]' data-type="youtube">
	      <a href="#">Blast Furnace</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Beastlord Darmac Kill Video:"]' data-id='["lcgyXuQa8ds"]' data-type="youtube">
	      <a href="#">Beastlord Darmac</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Operator Thogar Kill Video:"]' data-id='["HbP4f8vZwwE"]' data-type="youtube">
	      <a href="#">Operator Thogar</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Iron Maidens Kill Video:"]' data-id='["zqoy-cT9Vng"]' data-type="youtube">
	      <a href="#">Iron Maidens</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Hans&apos;gar and Franzok Kill Video:"]' data-id='["VTwkTneShdI"]' data-type="youtube">
	      <a href="#">Hans'gar and Franzok</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Flamebender Ka&apos;graz Kill Video:"]' data-id='["f5cNFQSJ-0w"]' data-type="youtube">
	      <a href="#">Flamebender Ka'graz</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Kromog Kill Video:"]' data-id='["4oQEjdyNNh0"]' data-type="youtube">
	      <a href="#">Kromog</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Blackhand Kill Video:"]' data-id='["DpkEvBe57uc"]' data-type="youtube">
	      <a href="#">Blackhand</a>
	    </li>
	  </ul>
	</li>
	<!-- Highmaul -->
	<li>
	  <a>Highmaul<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li class="videoElement" data-title='["Mythic Tectus Kill Video:"]' data-id='["jJGJmOUiTe4"]' data-type="youtube">
	      <a href="#">Mythic Tectus</a>
	    </li>
	    <li class="videoElement" data-title='["Mythic Butcher Kill Video:"]' data-id='["k1_Nno35weI"]' data-type="youtube">
	      <a href="#">Mythic Butcher</a>
	    </li>
	    <li class="videoElement" data-title='["Mythic Twin Ogron Kill Video:"]' data-id='["bPwKXlubwcE"]' data-type="youtube">
	      <a href="#">Mythic Twin Ogron</a>
	    </li>
	  </ul>
	</li>
	<!-- Siege of Orgrimmar -->
	<li>
	  <a>Siege of Orgrimmar<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li class="videoElement" data-title='["Heroic Garrosh Hellscream Kill Video:"]' data-id='["jMLFIuM627s"]' data-type="youtube">
	      <a href="#">Heroic Garrosh Hellscream</a>
	    </li>
	    <li class="videoElement" data-title='["Heroic Paragons of the Klaxxi Kill Video:"]' data-id='["m20YyrGpT9w"]' data-type="youtube">
	      <a href="#">Heroic Paragons of the Klaxxi</a>
	    </li>
	  </ul>
	</li>
	<!-- Challenge Modes -->
	<li>
	  <a>Realm Best CMs<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li class="videoElement" data-title='["Realm Best Gate of the Setting Sun Video:"]' data-id='["CQ3d8OQH4Fo"]' data-type="youtube">
	      <a href="#">Gate of the Setting Sun</a>
	    </li>
	    <li class="videoElement" data-title='["Realm Best Siege of Niuzao Temple Video:"]' data-id='["fqHJd6HIrU4"]' data-type="youtube">
	      <a href="#">Siege of Niuzao Temple</a>
	    </li>
	  </ul>
	</li>
	<!-- Twitch -->
	<li>
	  <a>Live Streams<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li class="videoElement" data-title='["Adgetty&apos;s Twitch Stream:"]' data-id='["adgetty"]' data-type="twitch">
	      <a href="#">Adgetty (Warlock)</a>
	    </li>
	    <li class="videoElement" data-title='["Apparati&apos;s Twitch Stream:"]' data-id='["apparati"]' data-type="twitch">
	      <a href="#">Apparati (DPS Warrior)</a>
	    </li>
	    <li class="videoElement" data-title='["Awss&apos;s Twitch Stream:"]' data-id='["naughtycrusher"]' data-type="twitch">
	      <a href="#">Awss (Ret. Paladin)</a>
	    </li>
	    <li class="videoElement" data-title='["Bottizelle&apos;s Twitch Stream:"]' data-id='["bottizelle"]' data-type="twitch">
	      <a href="#">Bottizelle (Resto. Druid)</a>
	    </li>
	    <li class="videoElement" data-title='["Qoof&apos;s Twitch Stream:"]' data-id='["qoofs"]' data-type="twitch">
	      <a href="#">Qoof (Mage)</a>
	    </li>
	  </ul>
	</li>
	    
	<!-- Funsies -->
	<li>
	  <a>Et Cetera<span class="pull-right fa fa-angle-down"></span></a>
	  <ul class="nav nav-tabs nav-stacked">
	    <li class="videoElement" data-title='["Yuckster and the Tryhards Compilation"]' data-id='["fk90mnkhhPk"]' data-type="youtube">
	      <a href="#">Yuckster and the Tryhards</a>
	    </li>
	  </ul>
	</li>
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <div id="media-content">
      <h3>Click on a button to the left to display media content.</h3>
    </div>
  </div>

  <script src="{{ STATIC_URL }}js/media.js"></script>
{% endblock %}
