body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: #222;
    color: #999;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
}

p,
.post-content h5 {
    line-height: 1.4em;
    margin-bottom: 22px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #333;
}

a:hover {
    color: #47CBF7;
}

.navbar {
    font-family: Oswald, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 0;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
    color: #ccc;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #C00;
}

.background {
    background-image: url('/static/img/background.png');
    text-align: center;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}

.logo {
    padding-top: 140px;
}

.blog-title,
#recruitment h3 {
    position: relative;
    background-color: #333;
    padding: 10px;
    color: #fff;
    background-image: url('/static/img/post-icon.png');
    background-repeat: no-repeat;
    background-position: -2.5% 50%;
    padding-left: 40px;
    margin-bottom: 20px;
}

#recruitment h3 {
    background-image: url('/static/img/recruitment-icon.png');
    background-position: -10% 400%;
    margin-top: 0;
}

#recruitment h6 {
    color: #c00;
}

#recruitment .recruitment-status-low {
    color: green;
}

#recruitment .recruitment-status-medium {
    color: orange;
}

#recruitment .recruitment-status-high {
    color: #c00;
}

#recruitment td {
    border: 0;
    padding-left: 0;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
}

#recruitment td.deathknight { background-image: url('/static/img/deathknight-icon.png'); }
#recruitment td.druid       { background-image: url('/static/img/druid-icon.png'); }
#recruitment td.hunter      { background-image: url('/static/img/hunter-icon.png'); }
#recruitment td.mage        { background-image: url('/static/img/mage-icon.png'); }
#recruitment td.monk        { background-image: url('/static/img/monk-icon.png'); }
#recruitment td.paladin     { background-image: url('/static/img/paladin-icon.png'); }
#recruitment td.priest      { background-image: url('/static/img/priest-icon.png'); }
#recruitment td.rogue       { background-image: url('/static/img/rogue-icon.png'); }
#recruitment td.shaman      { background-image: url('/static/img/shaman-icon.png'); }
#recruitment td.warlock     { background-image: url('/static/img/warlock-icon.png'); }
#recruitment td.warrior     { background-image: url('/static/img/warrior-icon.png'); }

.blog-title h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    padding-right: 275px;
    line-height: 1.3em;
}

.blog-title h6 {
    display: inline-block;
    position: absolute;
    right: 2%;
    top: 10%;
    color: #666;
}

.blog-content {
    clear: both;
}

.post-related h6,
.post-controls a {
    display: inline-block;
    padding: 10px;
    background-color: #333;
    margin-right: 5px;
}

.post-controls a {
    padding: 2px 5px;
    margin-right: 2px;
    margin-bottom: 5px;
}

/* --- Override Bootstrap stuff --- */
.well {
    background-color: #333;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.well blockquote {
    border-color: rgba(0, 0, 0, 1);
    background-color: #393939;
}

.panel-body .well {
    background-color: #ccc;
    color: black;
}

.alert-warning {
    background-color: rgba(102, 0, 0, 0.5);
    border: none;
}

.label-info {
    background-color: #333;
    padding: 10px;
    color: #fff;
}

.label-warning {
    background-color: #900;
}

.label-default  a:hover {
    color: #900;
}
.label {
    padding: 10px;
}

.label:hover {
    text-decoration: none;
}

.btn-primary, .btn-primary:hover,
.btn-info, .btn-info:hover {
    background-color: #900;
    border-color: #900;
    margin-bottom: 5px;
}

a:hover {
    text-decoration: none;
    color: #ccc;
}

.add-entry {
    float: none !important;
}

#blog-hr {
    margin-top: 0;
}

.label-default, {
    color: #fff;
}

.panel-default,
.panel-default>.panel-heading,
.panel-body,
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    color: #999;
    background-color: #333;
    border-color: #666;
    border-top-color: #666;
}

.topic-author .label-default {
    background-color: transparent;
    color: #999;
}

/* --- Topic/Forum table --- */
.forum-description {
    margin: 5px;
    font-size: @font-size-base - 2;
}

.forum-row, .topic-row {
    width: 100%;
    background-color: #333;
    padding: 20px;
}

.table-hover>tbody>tr:hover {
    background-color: #333;
}

.head-row {
    background-color: transparent;
}

.forum-name, .topic-name {
    width: 10%;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 10px;
    border-color: #222;
}

.topic-author, .forum-topic-count, .forum-post-count, .topic-post-count, .topic-view-count {
    width: 1%;
    text-align: center;
}

.forum-last-post, .topic-last-post {
    width: 4%;
}

.first-unread-post-link, .first-unread-post-link:hover {
			     color: @text-color;
			     text-decoration: none;
}

.posts {
}

.post {
    margin: 3px 0 5px 0;
}

.post-header {
    padding: 3px 0 3px 20px;
    font-size: @font-size-base - 2;
    background-color: @table-bg-hover;
}

.post tbody tr:hover td {
    background-color: inherit;
}

.post-info {
    width: 125px;
    padding: 10px;

    .avatar {

    }

    .post-author {
        font-size: @font-size-base + 1;
        padding: 5px 0;
    }

    .post-extra-info {
        font-size: @font-size-base - 2;
        color: @gray-light;
    }

    .post-controls {
        font-size: @font-size-base - 2;
    }
}

.post-content {
    vertical-align: top;
    padding: 10px;
}

.post-signature {
    color: #CCC;
    margin-top: 15px;
    border-top: 1px dotted #CCC;
    display: block;
}

.post-related {
    margin-top: 20px;
}

.forum-headline {
    margin-top: 10px;
}

.attachments-form {
    padding-bottom: 15px;
}

.attachment-link {
    border-bottom: 1px dotted;
}

/* --- Unread --- */

.state-indicator {
    display: block;
    float: left;
    background-color: @gray-lighter;
    height: 10px;
    width: 10px;
    border-radius: @border-radius-base;
    margin: 3px 5px;
}

.topic-unread, .forum-unread {
    a {
	font-weight: bold;
    }
    .state-indicator {
	background-color: @brand-info;
    }
}

/* --- Moderation --- */
.on-moderation {
    background: #ffcccc;
}

/* --- Mini pagination --- */
.mini-pagination {
    padding: 3px 0 3px 10px;
    font-size: @font-size-base - 2;
}

td.username, td.spec, td.rank {
    width: 33%;
}

.pagination-list li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
}

h5, h4, h6 {
    display: inline;
}

.roster-table {
    table-layout: fixed;
}

.roster-table a {
    color: #ccc;
}

#breadcrumb li {
    display: inline;
}

.post-content {
    display: table-cell;
}

.post-content img {
    max-width: 1000px;
}

.post-content iframe {
    border: none;
}

.blog-image {
    max-width: 100%;
}

.blog-content img {
    max-width: 100%;
}

.app-update-form {
    display: inline;
}

#id_comment {
    width: 100%;
    max-width: 100%;
}

.white {
    color: white;
}

a {
    color: #C00;
}

li a:hover, li fa:hover {
    color: #900;
}

.label-info {

}

/* input fields */
input[type=text], input[type=password], .textarea, input[type=email], input[type=url], #id_comment, #id_body {
    padding: 5px;
    background-color: #ccc;
    border: #ccc;
    color: #900;
}

#id_body {
    color: black;
}

/* select boxes */
#id_authenticator, #id_over_18, #id_char_class {
    background-color: #ccc;
    color: #900;
}

.forum-name h4, .topic-name h4 {
    color: #ccc;
}

.badge {
    position: absolute;
    right: -10px;
    top: 14px;
    background-color: #C00;
}

/* Class Colors */
.deathknights {
    background-color: #AF0011 !important;
}

.deathknights-t {
    color: #AF0011 !important;
}

.druids {
    background-color: #FF7600 !important;
}

.druids-t {
    color: #FF7600 !important;
}

.hunters {
    background-color: #98DB54 !important;
}

.hunters-t {
    color: #98DB54 !important;
}

.mages {
    background-color: #15ABDA !important;
}

.mages-t {
    color: #15ABDA !important;
}

.monks {
    background-color: #008A6A !important;
}

.monks-t {
    color: #008A6A !important;
}

.paladins {
    background-color: #E56FA4 !important;
}

.paladins-t {
    color: #E56FA4 !important;
}

.priests {
    background-color: #ABABAB !important;
}

.priests-t {
    color: #ABABAB !important;
}

.rogues {
    background-color: #D2CF00 !important;
}

.rogues-t {
    color: #D2CF00 !important;
}

.shamans {
    background-color: #1F66E2 !important;
}

.shamans-t {
    color: #1F66E2 !important;
}

.warlocks {
    background-color: #8F72BF !important;
}

.warlocks-t {
    color: #8F72BF !important;
}

.warriors {
    background-color: #BF925C !important;
}

.warriors-t {
    color: #BF925C !important;
}

.roster-text {
    color: #222;
}