{% extends "base.html" %}

{% block title %}
  Applications
{% endblock %}

{% block content %}
  {% if applicants.count %}
    <h1 class="text-center">Open Applications:</h1>
  {% else %}
    <h1 class="text-center">There are no applications to view at this time.</h1>
  {% endif %}
  <div class="panel-group" id="accordion">
    {% for applicant in applicants %}
      {% if applicant.application.status == "open"  %}
        <div class="panel panel-default">
	  <div class="panel-heading" data-toggle="collapse" data-target="#{{ applicant }}"
	       href="#{{ applicant }}" >
	    <h4 class="panel-title">
	      {{ applicant }}
	      <span class="pull-right fa fa-angle-down"></span>
	    </h4>
	  </div>
	  <div id="{{ applicant }}" class="panel-collapse collapse">
	    <div class="panel-body">
	      {% include "profiles/application_view.html" %}
	    </div>
	  </div>
	</div>
      {% endif %}	
    {% endfor %}
  </div>

{% endblock %}






    
