<div class="col-md-3">
  Main Character
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.main_character }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Character Class
</div>
<div class="col-md-9">
  <div class="well" style="width:100%">
    {{ applicant.profile.char_class }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Primary Spec
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.char_spec }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Armory Link
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.armory_link }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Recent Parses
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.recent_parses|linebreaks }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Screenshot
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.screenshot|linebreaks }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Addons
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.addons|linebreaks }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Computer Specs
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.computer_specs|linebreaks }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Authenticator?
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.authenticator }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Over 18?
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.over_18 }}
  </div>
</div>

<hr>

<div class="col-md-3">
  How did you hear about Clockwork?
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.how_did_you_hear|linebreaks }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Tell us about your previous guild
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.previous_guild|linebreaks }}
  </div>
</div>

<hr>

<div class="col-md-3">
  Tell us about your previous raiding experience.
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.experience }}
  </div>
</div>

<br />

<div class="col-md-3">
  Battle Tag
</div>
<div class="col-md-9">
  <div class="well">
    {{ applicant.profile.battle_tag }}
  </div>
</div>

<br />

{% if user.is_staff %}
  <h3>Note: Once a decision has been reached, an officer needs to head to the admin panel using the button below and change the applicant's group.</h3>
  <h4>Group rules are as follows:</h4>
  <h5>If applicant is accepted: Remove applicant from the 'Applicant' group, add that applicant to the 'Trial' group.</h5>
  <h5>If applicant is declined:  Remove applicant from the 'Applicant' group, add that applicant to the 'Declined' group.</h5>

  <br>
  <br>

  <div class="col-lg-1"></div>
  <a href="/admin/auth/user/{{ applicant.id }}" class="btn btn-warning btn-lg text-center">Change Applicant's Group</a>
  <div class="col-lg-3"></div>
{% endif %}
