{% extends "base.html" %}

{% block title %}
  User Profiles
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
	<th>
	  Name
	</th>
	<th>
	  Guild Rank
	</th>
      </tr>
    </thead>

    <tbody>
      {% for profile in userprofiles %}
        <tr>
	  <td>
	    <a href="{{ profile.get_absolute_url }}">
	      <h5>{{ profile.user.username }}</h5>
	    </a>
	  </td>
	  <td>
	    {{profile.user.groups.all.first.name}}
	  </td>
	</tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
