{% extends "base.html" %}

{% block title %}
  Guild Roster
{% endblock %}

{% block content %}
  <h1 class="text-center">Guild Roster</h1>
  <div class="well">
    <table class="table table-hover table-condensed roster-table">
      <thead>
	<tr>
	  <th style="width:33%">
	    Name
	  </th>
	  <th class="text-center">
	    Guild Rank
	  </th>
	  <th style="text-align:right;">
	    Armory Link
	  </th>
	</tr>
      </thead>
      
      <tbody>
	{% for profile in userprofiles %}
	  {% if not profile.user.groups.all.first.name == 'Declined' and not profile.user.groups.all.first.name == 'Applicant' %}
	    <tr>
	      <td id="username">
		<a href="{{ profile.get_absolute_url }}">
		  <h5>{{ profile.user.username }}</h5>
		</a>
	      </td>
	      <td class="text-center" id="rank">
		<h5>{{ profile.user.groups.all.first.name }}</h5>
	      </td>
	      <td align="right" id="armory_link">
		<a href="http://us.battle.net/wow/en/character/sargeras/{{profile.user.profile.main_character}}/advanced">
		  <h5>{{ profile.user.profile.main_character }}</h5>
		</a>
	      </td>
	    </tr>
	  {% endif %}
	{% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
    
