
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#{{ class }}"
	 href="#{{ class }}" >
      <h4 class="panel-title">
	{{ title }}
	<span class="pull-right fa fa-angle-down"></span>
      </h4>
    </div>
    <div id="{{ class }}" class="panel-collapse collapse">
      <div class="panel-body">
	<table class="table table-hover table-condensed roster-table">
	  <thead>
	    <tr>
	      <th style="width:33%">
		Name
	      </th>
	      <th class="text-center">
		Guild Rank
	      </th>
	      <th style="text-align:right;">
		Spec
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for char in list %}
	      <tr>
		<td>
		  {{ char.main_character }}
		</td>
		<td>
		  {{ char.user.groups.first }}
		</td>
		<td>
		  {{ char.char_spec }}
		</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
  </div>

