{% extends "base.html" %}
{% load group_tags %}

{% block title %}
  Guild Roster
{% endblock %}

{% block content %}
  <h1 class="text-center">Guild Roster</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="panel-group" id="accordion">
	{% include "profiles/roster_table.html" with class="deathknights" list=deathknights title="Death Knights" %}
	{% include "profiles/roster_table.html" with class="druids" list=druids title="Druids" %}
	{% include "profiles/roster_table.html" with class="hunters" list=hunters title="Hunters" %}
	{% include "profiles/roster_table.html" with class="mages" list=mages title="Mages" %}
	{% include "profiles/roster_table.html" with class="monks" list=monks title="Monks" %}
	{% include "profiles/roster_table.html" with class="paladins" list=paladins title="Paladins" %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-group" id="accordion">
	{% include "profiles/roster_table.html" with class="priests" list=priests title="Priests" %}
	{% include "profiles/roster_table.html" with class="rogues" list=rogues title="Rogues" %}
	{% include "profiles/roster_table.html" with class="shamans" list=shamans title="Shamans" %}
	{% include "profiles/roster_table.html" with class="warlocks" list=warlocks title="Warlocks" %}
	{% include "profiles/roster_table.html" with class="warriors" list=warriors title="Warriors" %}
      </div>
    </div>
  </div>
  
  
{% endblock %}
    
