<div class="panel panel-default">
  <div class="panel-heading {{ class }}">
    <h4 class="panel-title roster-text">
      {{ title }}
    </h4>
  </div>
  <div id="{{ class }}">
    <div class="panel-body">
      <table class="table table-hover table-condensed roster-table">
	<thead>
	  <tr>
	    <th class="{{ class }}-t" style="width:33%">
	      <h5>Name</h5>
	    </th>
	    <th class="text-center {{ class }}-t">
	      <h5>Guild Rank</h5>
	    </th>
	    <th class="{{ class }}-t" style="text-align:right;">
	      <h5>Spec</h5>
	    </th>
	  </tr>
	</thead>
	<tbody>
	  {% for char in list %}
	  <tr>
	    <td id="username">
	      <a class="{{ class }}-t" href="http://us.battle.net/wow/en/character/sargeras/{{ char.main_character }}/advanced">
		<h5>{{ char.main_character }}</h5>
	      </a>
	    </td>
	    <td class="text-center" id="rank">
	      <h5>{{ char.user.groups.first }}</h5>
	    </td>
	    <td align="right" id="spec">
	      <h5>{{ char.char_spec }}</h5>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>

