{% extends "base.html" %}
{% load profile_tags %}

{% block title %}
  My Profile
{% endblock %}

{% block content %}
<div class="col-md-9">
  <div class="row">
    <div class="col-md-9">
      <div class="well">
        <h2>
          {% filter force_escape %}
            {% firstof userprofile.user.get_full_name userprofile.user.username %}
          {% endfilter %}
        </h2>

        <h4 class="muted"><i>{{ userprofile.user.username }}</i></h4>
        <p>
          {{ userprofile.rendered_about_me|safe|linebreaks }}
        </p>
      </div>
      <div class="well">
	<h4>{{ userprofile.user.username }}'s Main Character:
	  <a href="http://us.battle.net/wow/en/character/sargeras/{{userprofile.user.profile.main_character}}/advanced"> {{ userprofile.user.profile.main_character }}</a>
	</h4>
      </div>
      <div class="well">
 	<h4>{{ userprofile.user.username }}'s Computer Specs: <p><h5>{{ userprofile.user.profile.computer_specs|linebreaks }}</h5></p></h4>
      </div>
      <div class="well">
	<h4>{{ userprofile.user.username }}'s Addons: <p><h5>{{ userprofile.user.profile.addons|linebreaks }}</h5></p></h4>
      </div>
      <div class="well">
	<h4>{{ userprofile.user.username }}'s Previous raiding experience: <p><h5>{{ userprofile.user.profile.experience|linebreaks }}</h5></p></h4>
      </div>
    </div>
    <div class="col-md-3">
      <a id="profilepic" class="thumbnail" href="https://en.gravatar.com/site/login"   data-toggle="tooltip" title="Set your gravatar at gravatar.com!">
	<img src="{% gravatar_url userprofile.user.email %}" class="img-responsive" />
      </a>
    </div>
  </div>
</div>
<div class="col-md-3">
  {% include "profiles/_profile_sidebar.html" %}  
</div>


{% endblock %}


{% block script %}
  <script>
    $(function(){
      $(".invitation-tooltip").tooltip();
      $("#profilepic").tooltip();
    });
  </script>
{% endblock %}
