{% load pybb_tags i18n %}

{% if forum_list %}
<table class="table table-hover table-condensed">
  <thead>
    <tr class="forum-row head-row">
      <th class="forum-name">
	{% trans "Forum" %}
      </th>
      <th class="forum-topic-count">
	{% trans "Topics" %}
      </th>
      <th class="forum-post-count">
	{% trans "Posts" %}
      </th>
      <th class="forum-last-post">
	{% trans "Last posts" %}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for forum in forum_list|pybb_forum_unread:user %}
    <tr class="forum-row">
      <td class="forum-name {% if forum.unread %} forum-unread{% endif %}">
	<div class="state-indicator"></div>
	<a href="{{ forum.get_absolute_url }}">
	  <h5>{{ forum.name }}{% if forum.unread %}
	</a>
	&nbsp;&nbsp;&nbsp;
	<span class="label label-warning">Unread Posts</span>{% endif %}</h5>
	{% if forum.hidden %}[{% trans "Hidden" %}]{% endif %}
	<div class="forum-description">
	  {{ forum.description|safe }}
	</div>
      </td>
      <td class="forum-topic-count">
	<h5>{{ forum.topic_count }}</h5>
      </td>
      <td class="forum-post-count">
	<h5>{{ forum.post_count }}</h5>
      </td>
      <td class="forum-last-post">
	<h5>{% include "pybb/forum_last_update_info.html" %}</h5>
      </td>
    </tr>
    {% empty %}
      {% if not user.is_authenticated %}
        <h3>You must be <a href="{% url 'account_login' %}">logged in</a> to view the forums. </h3>
      {% elif category %}
        <h3>{% trans "No forums created" %}</h3>
	{% if user.is_staff %}
	  <a href="{% url 'admin:pybb_forum_add' %}">{% trans "Add forum now" %}</a>
        {% endif %}
      {%  endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
