{% load i18n %}

{% if is_paginated %}
<div class="pagination">
  <ul class="pagination-list">
    <li class="prev {% if not page_obj.has_previous %}disabled{% endif %}">
      <span class="label label-default"><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">← {% trans "previous page" %}</a></span>
    </li>
    {% for page in page_obj.pages %}
    {% if page %}
    <li {% ifequal page page_obj.number %}class="disabled"{% endifequal %}>
     <span class="label label-default"><a href="?{{ page.querystring }}" class="page">{{ page }}</a></span>
    </li>
    {% else %}
    <li class="disabled">
      <a href="#">...</a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="next {% if not page_obj.has_next %}disabled{% endif %}">
     <span class="label label-default"><a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" >{% trans "next page" %} →</a></span>
    </li>
  </ul>
</div>
{% endif %}
