{% load i18n %}

{% if is_paginated %}
<div class="pagination">
  <ul class="pagination-list">
    {% if page_obj.has_previous %}    
      <li class="prev {% if not page_obj.has_previous %}disabled{% endif %}">
	<h5>
	  <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" class="label label-default">
	      <span class="fa fa-arrow-left"></span>&nbsp;&nbsp;{% trans "previous page" %}
	  </a>
	</h5>
      </li>
    {% endif %}
    {% for page in page_obj.pages %}
      {% if page %}
        <li {% ifequal page page_obj.number %}class="disabled"{% endifequal %}>
	  <h5>
	    <a href="?{{ page.querystring }}" class="page label label-{% ifequal page page_obj.number %}info{% else %}default{% endifequal %}">
		<strong>{{ page }}</strong>
	    </a>
	  </h5>
	</li>
      {% else %}
       <li class="disabled">
	 <h5><a href="#">...</a></h5>
       </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}    
      <li class="next {% if not page_obj.has_next %}disabled{% endif %}">
	<h5>
	  <a href="?page={{ page_obj.next_page_number }}" class="label label-default" >
	      {% trans "next page" %}&nbsp;&nbsp;<span class="fa fa-arrow-right"></span> 
	  </a>
	</h5>
      </li>
    {% endif %}
  </ul>
</div>
{% endif %}
