{% load i18n pybb_tags %}

<table class="table topic-list table-hover table-condensed">
  <thead>
    <tr class="topic-row head-row">
      <th class="topic-name">
	{% trans "Topic" %}
      </th>
      <th class="topic-post-count">
	{% trans "Posts" %}
      </th>
      <th class="topic-view-count">
	{% trans "Views" %}
      </th>
      <th class="topic-last-post">
	{% trans "Last post" %}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for topic in topic_list|pybb_topic_unread:user %}
    <tr class="topic-row {% if topic.sticky %} sticky {% endif %} {% cycle "odd" "even" %} {% if topic.on_moderation %} on-moderation {% endif %}">
      <td class="topic-name{% if topic.unread %} topic-unread{% endif %}">
	<div class="state-indicator"></div>
	<a href="{{ topic.get_absolute_url }}">
	  <h5>{{ topic.name|truncatewords:10 }}</h5>
	</a>
	&nbsp;&nbsp;&nbsp;
	{% if topic.unread %}<h5><span class="label label-warning">Unread Posts</span></h5>{% endif %}
	<a href="{{ topic.get_absolute_url }}?first-unread=1" class="first-unread-post-link" title="{% trans 'Go to first unread post' %}">⇨</a>
	{% if topic.sticky %} &nbsp;[{% trans "Sticky" %}] {% endif %}
	{% if topic.closed %} &nbsp;[{% trans "Closed" %}] {% endif %}
	{% with topic|pybb_topic_inline_pagination as pages %}
	{% if pages|length > 1 %}
	<span class="mini-pagination">
	  {% trans "pages" %}:
	  {% for page in pages %}
	  <span class="page">
	    {% if page == "..." %}
	    ...
	    {% else %}
	    <a href="{{ topic.get_absolute_url }}?page={{ page }}">{{ page }}</a>
	    {% endif %}
	  </span>
	  {% endfor %}
	</span>
	{% endif %}
	{% endwith %}
      </td>
      <td class="topic-post-count">
	<h5>{{ topic.post_count }}</h5>
      </td>
      <td class="topic-view-count">
	<h5>{{ topic|pybbm_calc_topic_views }}</h5>
      </td>
      <td class="topic-last-post">
	<h5>{% include "pybb/topic_last_message_info.html" %}</h5>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
