{% load url from future %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock %}

    <!-- Font Links -->
    <link href='http://fonts.googleapis.com/css?family=Oswald|Roboto:400,300' rel='stylesheet' type='text/css'>

    <!-- Style Links -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/yeti/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" />

    {% block link %}{% endblock %}

    <!-- jQuery needs to be made available earlier than the other scripts -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/pybb.js" type="text/javascript"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    {% include "navbar.html" %}
    {% block logo %}{% endblock %}
    <div class="container">
      <div class="row">
	{% block content %}{% endblock %}
	{% block sidebar %}{% endblock %}
      </div>
    </div>
</div>

     <!-- Scripts -->
    <!-- Put them at the end so the page loads faster -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.6.2/less.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>

  </body>
</html>
