{% load active_tags %}
{% load application_tags %}
{% load group_tags %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
	<li class="{% active 'home' %}{% active 'blog' %}">
	  <a href="/">
	    Blog
	  </a>
	</li>
	<li class="{% active 'about_us' %}">
	  <a href="/about-us/">
	    About Us
	  </a>
        </li>
	<li class="{% active_re '^/roster' %}">
	  <a href="{% url 'roster' %}">
	    Roster
	  </a>
	</li>
	<li class="{% active_re '^/forums' %}">
	  <a href="/forums/">
	    Forums
	  </a>
	</li>
	{% if user|has_group:"Member" or user|has_group:"Officer" %}
	  <li class="{% active_re '^/applications/open/' %}">
	    <a href="/applications/open/">
	      View Open Applications {% open_application_count %}
	    </a>
	  </li>
	  <li class="{% active_re '^/applications/trial/' %}">
	    <a href="/applications/trial/">
	      View Trial Applications {% trial_application_count %}
	    </a>
	  </li>
	{% endif %}
	{% if user|has_group:"Applicant" %}
	  <li class="{% active_re '^/application/(submit|update)' %}">
	    <a href="/application/submit/">
	      {% if user.is_authenticated %}
	        {% if user.profile.has_submitted_app %}
	          Edit
	        {% else %}
	          Submit
	        {% endif %} your Application
	      {% endif %}
	    </a>
	  </li>
	{% elif user|has_group:"Declined" %}
	  <li class="{% active_re '^/application/declined/' %}">
	    <a href="{% url 'declined_app' %}">
	      Your Application [Closed]
	    </a>
	  </li>
	{% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
	{% if user.is_authenticated %}
	  <li>
	    <a href="{{ user.profile.get_absolute_url }}">
	      <strong>{{ user.username }}</strong>
	    </a>
	  </li>
	  {% if user.is_staff %}
	    <li>
	      <a href="/admin/">
	        Admin
	      </a>
	    </li>
	  {% endif %}
	  <li>
	    <a href="{% url 'account_logout' %}?next=/">
	      Logout
	    </a>
	  </li>
	{% else %}
	  <li>
	    <a href="{% url 'account_login' %}">
	      Login
	    </a>
	  </li>
	{% endif %}
      </ul>
    </div>
  </div>
</nav>
